<div class="container-fluid" data-controller='dashboard'>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="navbar-toggler-icon"></span>
        </button> <a class="navbar-brand" href="#">Bob's Monitoring Dashboard</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Humidity</h5>
              <h6 class="card-subtitle mb-2 text-muted">Current</h6>
              <p  class="card-text" data-target="dashboard.humidity">
                21
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Temperature</h5>
              <h6 class="card-subtitle mb-2 text-muted">Current</h6>
              <p  class="card-text" data-target="dashboard.temperature">
                21
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Soild Moisture</h5>
              <h6 class="card-subtitle mb-2 text-muted">Current</h6>
              <p  class="card-text" data-target="hello.moisture">
                21
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <h5 class="card-title">Humidity 24H</h5>
            <div class="card-body">
              <%= line_chart sensor_data(:humidity), colors: ["#030bfc"] %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h5 class="card-title">Temperature 24H</h5>
            <div class="card-body">
              <%= line_chart sensor_data(:temperature), colors: ["#34eb46"] %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h5 class="card-title">Moisture 24H</h5>
            <div class="card-body">
              <%= line_chart sensor_data(:moisture), colors: ["#fc6b03"] %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
